body {
    background-color: #1b1e20;
    color: #fff;
}

header {
    background-color: #1d1f21;
}


.nav-link, h2, p , .item {
    color: #fff;
}

.nav-link:hover {
    color: #ffc107;
}


.bg-body-tertiary {
    background-color: #2a2d31;
}

.card{
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.favoris{
    margin-left: 1rem;
}
span img {
    width: 20px;
    height: auto;
}



.card-text,.home{
    color: black;
}

.col-md-6 button{
    background-color: #2a2d31;
    color: white;
    border: none;
    width: 10px;
}
.col-md-6 button:hover{
    background-color: #2a2d31;
    color: white;
}

h4{
    color: white;
}
.equipement-container button{
    margin-left: 40px;
}